In [6]:
!pip install pandas pyarrow tk

Requirement already satisfied: pandas in f:\anaconda3\lib\site-packages (2.2.3)
Requirement already satisfied: pyarrow in f:\anaconda3\lib\site-packages (16.1.0)
Collecting tk
  Downloading tk-0.1.0-py3-none-any.whl.metadata (693 bytes)
Requirement already satisfied: numpy>=1.26.0 in f:\anaconda3\lib\site-packages (from pandas) (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in f:\anaconda3\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in f:\anaconda3\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in f:\anaconda3\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in f:\anaconda3\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)
Downloading tk-0.1.0-py3-none-any.whl (3.9 kB)
Installing collected packages: tk
Successfully installed tk-0.1.0

In [8]:
import pandas as pd
import datetime
from tkinter import *
from tkinter import messagebox, ttk
import os

In [27]:
class ProductManager:
    def __init__(self):
        self.df = pd.DataFrame(columns=['название товара', 'название магазина', 'стоимость товара в руб'])
        self.filename = 'products.parquet'
        
        if os.path.exists(self.filename):
            self.df = pd.read_parquet(self.filename)
            self._sort_data()
    
    def _sort_data(self):
        self.df = self.df.sort_values(by='название товара').reset_index(drop=True)
    
    def add_product(self, name, shop, price):
        try:
            price = float(price)
            if price <= 0:
                raise ValueError("Цена должна быть положительным числом")
            
            new_row = pd.DataFrame({
                'название товара': [name],
                'название магазина': [shop],
                'стоимость товара в руб': [price],
                'дата добавления': [datetime.datetime.now()]
            })
            
            self.df = pd.concat([self.df, new_row], ignore_index=True)
            self._sort_data()
            self.save_to_parquet()
            return True
        except ValueError as e:
            print(f"Ошибка: {e}")
            return False
    
    def search_product(self, name):
        result = self.df[self.df['название товара'].str.lower() == name.lower()]
        return result
    
    def delete_by_column(self, column_name, value):
        if column_name not in self.df.columns:
            return False
        
        initial_count = len(self.df)
        self.df = self.df[self.df[column_name] != value]
        self._sort_data()
        
        if len(self.df) < initial_count:
            self.save_to_parquet()
            return True
        return False
    
    def save_to_parquet(self):
        self.df.to_parquet(self.filename, index=False)
    
    def get_all_products(self):
        return self.df

In [29]:
manager = ProductManager()

# Добавление товаров
manager.add_product("Ноутбук", "Эльдорадо", 50000)
manager.add_product("Телефон", "М.Видео", 30000)
manager.add_product("Наушники", "DNS", 5000)

# Поиск
print("Найденные товары:")
print(manager.search_product("Телефон"))

# Удаление
manager.delete_by_column('название магазина', 'DNS')

# Сохранение
manager.save_to_parquet()
print(f"Данные сохранены в {manager.filename}")

Найденные товары:
  название товара название магазина  стоимость товара в руб  \
2         Телефон           М.Видео                 30000.0

             дата добавления
2 2025-06-21 05:43:31.592093
Данные сохранены в products.parquet

C:\Users\WINDOWS_11-500gb\AppData\Local\Temp\ipykernel_15652\1770496828.py:26: FutureWarning: The behavior of DataFrame concatenation with empty or all-NA entries is deprecated. In a future version, this will no longer exclude empty or all-NA columns when determining the result dtypes. To retain the old behavior, exclude the relevant entries before the concat operation.
  self.df = pd.concat([self.df, new_row], ignore_index=True)

In [35]:
df = pd.read_parquet('products.parquet')
df

,название товара,название магазина,стоимость товара в руб,дата добавления
0,Ноутбук,Эльдорадо,50000.0,2025-06-21 05:43:31.585817
1,Телефон,М.Видео,30000.0,2025-06-21 05:43:31.592093

In [22]:
name = input("Введите название товара: ")
shop = input("Введите магазин: ")
price = float(input("Введите цену: "))

manager.add_product(name, shop, price)
print("Товар добавлен!")

Введите название товара:  уцкукце
Введите магазин:  ццукц
Введите цену:  3245

Товар добавлен!